@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto:wght@500&display=swap');

:root {
  --color-calculator: #2d98da;
  --color-screen: #45aaf2;
  --color-button: #4b7bec;
  --color-button-operators: #3867d6;
  --color-button-clear: #20bf6b;
  --color-button-equals: #26de81;
  --color-background: #d1d8e0;
  --color-text-display: #d1d8e0;
  --color-text-formula: #d1d8e0;
  --color-text-buttons: #d1d8e0;
  --font-family: 'Roboto', sans-serif;
  --font-size-display: 5.5rem;
  --font-size-formula: 3rem;

}

.old-school {
  --color-calculator: black;
  --color-screen: green;
  --color-button: lightgray;
  --color-button-operators: gray;
  --color-button-clear: red;
  --color-button-equals: blue;
  --color-background: aqua;
  --color-text-display: white;
  --color-text-formula: orange;
  --color-text-buttons: white;
  --font-family: 'Orbitron', sans-serif;
  --font-size-display: 4rem;
  --font-size-formula: 2rem;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

#calculator {
  font-family: var(--font-family);

  color: var(--color-text-buttons);
  background-color: var(--color-calculator);
  padding: 10px;
  margin: 10px;
  max-width: 500px;
  width: 90vw;
  height: fit-content;

  #calc-header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;

    #calc-name {
      font-size: 1.5rem;
      grid-column-start: 2;
      text-align: center;
    }

    #theme-btn {
      justify-self: stretch;
      align-self: stretch;
      color: var(--color-text-buttons);
      background: none;
      border: none;
      font-size: 2rem;
      // width: fit-content;
      // height: fit-content;
    }
  }
  #screen {
    background-color: var(--color-screen);
    margin: 10px 0 10px 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 10px;
    text-align: right;

    #formula {
      font-size: var(--font-size-formula);
      color: var(--color-text-formula);
      word-wrap: break-word;
      min-height: 10vh;
    }

    #display {
      font-size: var(--font-size-display);
      color: var(--color-text-display);
      word-wrap: break-word;
      min-height: 10vh;
    }
  }

  #keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 60vh;

    .button {
      font-size: 3rem;
      background-color: var(--color-button);
      margin: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #clear,
    #zero {
      grid-column: span 2;
    }

    #clear {
      background-color: var(--color-button-clear);
    }

    #equals {
      grid-row: span 2;
      background-color: var(--color-button-equals);
    }

    .operator {
      background-color: var(--color-button-operators);
    }
  }

}